### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
#total number of schools
total_schools = len(school_data_complete["school_name"].unique())

#total number of students
total_students = school_data_complete["student_name"].count()

#total budget
total_budget = school_data["budget"].sum()

#average math score
avg_math = school_data_complete["math_score"].mean()

#average reading score
avg_read = school_data_complete["reading_score"].mean()

#percentage passing math
math_pass = school_data_complete.loc[school_data_complete['math_score'] >= 70]['math_score'].count()
perc_math_pass = math_pass/total_students * 100

#percentage passing reading
read_pass = school_data_complete.loc[school_data_complete['reading_score'] >= 70]['reading_score'].count()
perc_read_pass = read_pass/total_students * 100

#overall_pass 
overall_pass = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]['student_name'].count()/total_students * 100

#summary table
district_summary_df = pd.DataFrame({"Total Schools": [total_schools],
                                   "Total Students": total_students,
                                    "Total Budget": total_budget,
                                    "Average Math Score": avg_math,
                                    "Average Reading Score": avg_read,
                                    "% Passing Math": perc_math_pass,
                                    "% Passing Reading": perc_read_pass,
                                    "% Overall Passing": overall_pass
                                   })
district_summary_df

#formatting
format_summary = {'Total Students':'{:,.0f}', 
                  'Total Budget': '${:,.2f}',
                 'Average Math Score': '{:,.1f}%',
                  'Average Reading Score': '{:,.1f}%',
                  "% Passing Math": '{:,.1f}%',
                  "% Passing Reading": '{:,.1f}%',
                  "% Overall Passing": '{:,.1f}%'
                 }
district_summary_df.style.format(format_summary)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [6]:
schoolsummary_df = school_data_complete.groupby('school_name')

#school type
school_type = school_data.set_index(["school_name"])["type"]

#total students
school_students = schoolsummary_df['student_name'].count()

#total school budget
school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

#per student budget
school_studentbudget = school_budget/school_students

#average math score
school_math = schoolsummary_df['math_score'].mean()

#average reading score
school_read = schoolsummary_df['reading_score'].mean()

#% passing math
school_pass_math = school_data_complete.loc[school_data_complete["math_score"]>=70]
school_passmath = school_pass_math["school_name"].value_counts()
percent_passmath = school_passmath/school_students* 100


#% passing reading
school_pass_read = school_data_complete.loc[school_data_complete["reading_score"]>=70]
school_passread = school_pass_read["school_name"].value_counts()
percent_passread = school_passread/school_students * 100


#%overall passing
school_overall = school_data_complete.loc[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)]['school_name'].value_counts()/school_students * 100


#summary table
schoolsummary_table_df = pd.DataFrame({"School Type": school_type,
                          "Total Students": school_students,
                          "Total School Budget": school_budget,
                          "Per Student Budget": school_studentbudget,
                          "Average Math Score": school_math,
                          "Average Reading Score": school_read,
                          "% Passing Math": percent_passmath,
                          "% Passing Reading": percent_passread,
                          "% Overall Passing": school_overall
                          })
schoolsummary_table_df

#formatting
format_summary = {'Total Students':'{:,.0f}', 
                  'Total School Budget': '${:,.2f}',
                  'Per Student Budget': '${:,.2f}',
                  'Average Math Score': '{:,.1f}%',
                  'Average Reading Score': '{:,.1f}%',
                  '% Passing Math': '{:,.1f}%',
                  '% Passing Reading': '{:,.1f}%',
                  '% Overall Passing': '{:,.1f}%'
                  }
schoolsummary_table_df.style.format(format_summary)


## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [7]:
topschools_df = schoolsummary_table_df.sort_values("% Overall Passing", ascending=False)

topschools_df.head(5).style.format(format_summary)

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [8]:
topschools_df = schoolsummary_table_df.sort_values("% Overall Passing", ascending=True)

topschools_df.head(5).style.format(format_summary)

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
#group by school
#grades as columns
#average math score per grade
#summary table
#formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
#group by school
#grades as columns
#average reading score per grade
#summary table
#formatting

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type